/* Scale Webflow styles */

body {
    background-color: var(--sc-color-surface-l0);
    color: var(--sc-color-text-secondary)
}


/* Text global color */

h1, h2, h3, h4, h5 {
  color: var(--sc-color-text-primary);
  font-weight: 600;
}

p {
  color: var(--sc-color-text-secondary);
  font-size: var(--sc-text-text-l);
  font-weight: 400;
}

b, strong {
  font-weight: 600;
}

.sc-color-text-tertiary {
  color: var(--sc-color-text-tertiary);
}

a {
  color: var(--sc-color-text-link);
  font-size: var(--sc-text-link-l);
  font-weight: 600;
}

/* Text global token color */

.sc-color-text-primary-inverse {
  color: var(--sc-color-text-primary-inverse);
}

.sc-color-text-primary-inverse-static {
  color: var(--sc-color-text-primary-inverse-static);
}

.sc-color-text-secondary-inverse {
  color: var(--sc-color-text-secondary-inverse);
}

.sc-color-text-secondary-inverse-static {
  color: var(--sc-color-text-secondary-inverse-static);
}

.sc-color-text-tertiary-inverse {
  color: var(--sc-color-text-tertiary-inverse);
}

.sc-color-text-tertiary-inverse-static {
  color: var(--sc-color-text-tertiary-inverse-static);
}


/* Text token size */

.sc-text-title-xl {
  font-size: var(--sc-text-title-xl);
}

@media screen and (max-width: 478px) {
  .sc-text-title-xl {
    font-size: 56px;
    line-height: 64px;
  }
}

.sc-text-title-l {
  font-size: var(--sc-text-title-l);
}

.sc-text-title-m {
  font-size: var(--sc-text-title-m);
}

.sc-text-title-s {
  font-size: var(--sc-text-title-s);
}

.sc-text-heading-xl {
  font-size: var(--sc-text-heading-xl);
}

.sc-text-heading-l {
  font-size: var(--sc-text-heading-l);
}

.sc-text-heading-m {
  font-size: var(--sc-text-heading-m);
}

.sc-text-heading-s {
  font-size: var(--sc-text-heading-s);
}

.sc-text-heading-xs {
  font-size: var(--sc-text-heading-xs);
}

.sc-text-heading-xxs {
  font-size: var(--sc-text-heading-xxs);
}

.sc-text-text-l {
  font-size: var(--sc-text-text-l);
}

.sc-text-text-m {
  font-size: var(--sc-text-text-m);
}

.sc-text-text-s {
  font-size: var(--sc-text-text-s);
}

.sc-text-link-l {
  font-size: var(--sc-text-link-l);
}

.sc-text-link-m {
  font-size: var(--sc-text-link-m);
}

.sc-text-link-s {
  font-size: var(--sc-text-link-s);
}

.sc-text-label-l {
  font-size: var(--sc-text-label-l);
}

.sc-text-label-m {
  font-size: var(--sc-text-label-m);
}

.sc-text-label-s {
  font-size: var(--sc-text-label-s);
}


/* Text specific color */

/* Links */

a:hover {
  color: var(--sc-color-text-link-hover);
}

.button {
  background-color: var(--sc-color-button-primary);
  color: var(--sc-color-text-onbrand);
}

.button:hover {
  background-color: var(--sc-color-button-primary-hover);
  color: var(--sc-color-text-onbrand);
}

.button:active {
  background-color: var(--sc-color-button-primary-pressed);
  color: var(--sc-color-text-onbrand);
}

.button.secondary {
  background-color: var(--sc-color-button-secondary);
  color: var(--sc-color-text-secondary);
}

.button.secondary:hover {
  background-color: var(--sc-color-button-secondary-hover);
  color: var(--sc-color-text-secondary);
}

.button.secondary:active {
  background-color: var(--sc-color-button-secondary-pressed);
  color: var(--sc-color-text-secondary);
}

.button.tertiary {
  background-color: var(--sc-color-button-tertiary);
  color: var(--sc-color-text-link);
}

.button.tertiary:hover {
  background-color: var(--sc-color-button-tertiary-hover);
  color: var(--sc-color-text-link-hover);
}

.button.tertiary:active {
  background-color: var(--sc-color-button-tertiary-pressed);
  color: var(--sc-color-text-link-hover);
}

.button.text {
  background-color: transperant;
  color: var(--sc-color-text-link);
}

.button.text:hover {
  background-color: transperant;
  color: var(--sc-color-text-link-hover);
}

.button.text:active {
  background-color: transperant;
  color: var(--sc-color-text-link-hover);
}


/* Backround */

.sc-color-background-default {
  background-color: var(--sc-color-background-default);
}

.sc-color-background-inverse {
  background-color: var(--sc-color-background-inverse);
}

/* Header */

.header-overlay {
  background-color: var(--sc-color-overlay-90);
}

/* Paragraphs */

/* Labels */

/* Divider */

.divider {
  background-color: var(--sc-color-border-subtle);
  height: 1px;
}

/* Images */

.sc-image-hero-wallpaper {
  background-image: var(--sc-image-hero-wallpaper);
}

.sc-image-chat-login {
  background-image: var(--sc-image-chat-login);
}

.sc-image-hero-figma-button-tokens {
  background-image: var(--sc-image-hero-figma-button-tokens);
}


/* Icons */

.sc-color-icon-default path {
  stroke: var(--sc-color-icon-default);
}


/* Logos */

/* .sc-logo-horz-inverse path.text {
  fill: var(--sc-color-background-default);
} */


/* Modules */

.sc-image-module-components {
  background: var(--sc-image-module-components);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Cards */

.card__feature {
  background-color: var(--sc-color-background-subtle);
}

.sc-image-card-feature-tokens {
  background: var(--sc-image-card-feature-tokens);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sc-image-card-feature-components {
  background: var(--sc-image-card-feature-components);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sc-image-card-feature-text {
  background: var(--sc-image-card-feature-text);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sc-image-card-feature-layout {
  background: var(--sc-image-card-feature-layout);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sc-image-card-feature-icons {
  background: var(--sc-image-card-feature-icons);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Containers */

.made-chat {
  background-color: var(--sc-color-background-subtle-static);
}


/* Signup */

/* .sc-form-signup {
  background-color: var(--sc-color-background-subtle);
} */

.sc-text-field {
  background-color: var(--sc-color-background-default);
  color: var(--sc-color-text-secondary);
  font-size: var(--sc-text-text-l);
  border-color: var(--sc-color-border-default);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}


/* Badge */

.w-webflow-badge {
  display: none !important;
}
