/* Scale Webflow styles */

body {
    background-color: var(--sc-color-surface-l0);
    color: var(--sc-color-text-secondary)
}


/* Titles */

h1.sc-text-title-xl {
  font-size: var(--sc-text-title-xl);
}

h1.sc-text-title-l {
  font-size: var(--sc-text-title-l);
}

h1.sc-text-title-m {
  font-size: var(--sc-text-title-m);
}

h1.sc-text-title- {
  font-size: var(--sc-text-title-s);
}

/* Headings */

h1 {
  font-size: var(--sc-text-heading-l);
}

h1, h2, h3, h4, h5 {
  color: var(--sc-color-text-primary);
}

h1.sc-color-text-primary-inverse,
h2.sc-color-text-primary-inverse,
h3.sc-color-text-primary-inverse,
h4.sc-color-text-primary-inverse,
h5.sc-color-text-primary-inverse {
  color: var(--sc-color-text-primary-inverse);
}

h1.sc-color-text-primary-inverse-static {
  color: var(--sc-color-text-primary-inverse-static);
}


/* Paragraphs */

p {
  color: var(--sc-color-text-secondary);
}

p.sc-color-secondary-inverse {
  color: var(--sc-color-text-secondary-inverse);
}

p.sc-color-secondary-inverse-static {
  color: var(--sc-color-text-secondary-inverse-static);
}

p.sc-text-tex-l {
  font-size: var(--sc-text-text-l);
}

p.sc-text-text-m {
  font-size: var(--sc-text-text-m);
}

p.sc-text-text-s {
  font-size: var(--sc-text-text-s);
}


/* Links */
