/* Scale Webflow styles */

body {
    background-color: var(--sc-color-surface-l0);
    color: var(--sc-color-text-secondary)
}


/* Text global color */

h1, h2, h3, h4, h5 {
  color: var(--sc-color-text-primary);
}

p {
  color: var(--sc-color-text-secondary);
}

a {
  color: var(--sc-color-text-link);
}

/* Text global token color */

.sc-color-text-primary-inverse {
  color: var(--sc-color-text-primary-inverse);
}

.sc-color-text-primary-inverse-static {
  color: var(--sc-color-text-primary-inverse-static);
}

.sc-color-text-secondary-inverse {
  color: var(--sc-color-text-secondary-inverse);
}

.sc-color-text-secondary-inverse-static {
  color: var(--sc-color-text-secondary-inverse-static);
}

/* Text global size */

h1 {
  font-size: var(--sc-text-heading-l);
}

p {
  font-size: var(--sc-text-text-l);
}

a {
  font-size: var(--sc-text-link-l);
}


/* Text token size */

.sc-text-title-xl {
  font-size: var(--sc-text-title-xl);
}

.sc-text-title-l {
  font-size: var(--sc-text-title-l);
}

.sc-text-title-m {
  font-size: var(--sc-text-title-m);
}

.sc-text-title-s {
  font-size: var(--sc-text-title-s);
}

.sc-text-heading-xl {
  font-size: var(--sc-text-heading-xl);
}

.sc-text-heading-l {
  font-size: var(--sc-text-heading-l);
}

.sc-text-heading-m {
  font-size: var(--sc-text-heading-m);
}

.sc-text-heading-s {
  font-size: var(--sc-text-heading-s);
}

.sc-text-heading-xs {
  font-size: var(--sc-text-heading-xs);
}

.sc-text-heading-xxs {
  font-size: var(--sc-text-heading-xxs);
}

.sc-text-text-l {
  font-size: var(--sc-text-text-l);
}

.sc-text-text-m {
  font-size: var(--sc-text-text-m);
}

.sc-text-text-s {
  font-size: var(--sc-text-text-s);
}

.sc-text-link-l {
  font-size: var(--sc-text-link-l);
}

.sc-text-link-m {
  font-size: var(--sc-text-link-m);
}

.sc-text-label-l {
  font-size: var(--sc-text-label-l);
}

.sc-text-label-m {
  font-size: var(--sc-text-label-m);
}

.sc-text-label-s {
  font-size: var(--sc-text-label-s);
}


/* Text specific color */

/* Links */

a:hover {
  color: var(--sc-color-text-link-hover);
}

.button {
  background-color: var(--sc-color-button-primary);
  color: var(--sc-color-text-onbrand);
}

.button:hover {
  background-color: var(--sc-color-button-primary-hover);
  color: var(--sc-color-text-onbrand);
}

.button:active {
  background-color: var(--sc-color-button-primary-pressed);
  color: var(--sc-color-text-onbrand);
}

.button.secondary {
  background-color: var(--sc-color-button-secondary);
  color: var(--sc-color-text-secondary);
}

.button.secondary:hover {
  background-color: var(--sc-color-button-secondary-hover);
  color: var(--sc-color-text-secondary);
}

.button.secondary:active {
  background-color: var(--sc-color-button-secondary-pressed);
  color: var(--sc-color-text-secondary);
}

.button.tertiary {
  background-color: var(--sc-color-button-tertiary);
  color: var(--sc-color-text-link);
}

.button.tertiary:hover {
  background-color: var(--sc-color-button-tertiary-hover);
  color: var(--sc-color-text-link-hover);
}

.button.tertiary:active {
  background-color: var(--sc-color-button-tertiary-pressed);
  color: var(--sc-color-text-link-hover);
}

.button.text {
  background-color: transperant;
  color: var(--sc-color-text-link);
}

.button.text:hover {
  background-color: transperant;
  color: var(--sc-color-text-link-hover);
}

.button.text:active {
  background-color: transperant;
  color: var(--sc-color-text-link-hover);
}

/* Headings */

/* Paragraphs */

/* Labels */

/* Images */

.sc-image-hero-wallpaper {
  background: var(--sc-image-hero-wallpaper);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Modules */

.sc-image-module-components {
  background: var(--sc-image-module-components);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Cards */

.card {
  background-color: var(--sc-color-background-subtle);
}

.sc-image-card-feature-tokens {
  background: var(--sc-image-card-feature-tokens);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sc-image-card-feature-icons {
  background: var(--sc-image-card-feature-icons);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
